{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<div class="container">
    <h3>Groups and Members</h3><br>

    <div class="accordion" id="accordions">
        {% for group_info in group_infos %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading{{ loop.index }}">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">
                        {{ group_info.group_name }}
                    </button>
                </h2>
                <div id="collapse{{ loop.index }}" class="accordion-collapse collapse show" aria-labelledby="heading{{ loop.index }}" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Member Name</th>
                                    <th>Total Expenses</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for member_expense in group_info.members_expenses %}
                                    <tr>
                                        <td>{{ member_expense.member_name }}</td>
                                        <td>${{ '%.2f'|format(member_expense.total_expenses) }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

</div>
{% endblock %}
