{% extends "layout.html" %}

{% block title %}
    Pay
{% endblock %}

{% block main %}
    <form action="/pay" method="post">
        <br><br>
        <h3>Select Group</h3><br>
        <select name="groups">
            <option disabled selected value="">Groups</option>
            {% for group in groups %}
                <option value="{{ group['group_name'] }}">{{ group["group_name"] }}</option>
            {% endfor %}
        </select><br><br>
        <button class="btn btn-primary" type="submit">Pay</button>
    </form>
{% endblock %}
