{% extends "layout.html" %}

{% block title %}
    Split
{% endblock %}

{% block main %}
    <form action="/split" method="post">
        <select name="groups">
            <option disabled selected value="">Groups</option>
            {% for group in groups %}
                <option value="{{ group['group_name'] }}">{{ group["group_name"] }}</option>
            {% endfor %}
        </select>
        <br><br>
        <div class="form-check">
            {% for group_member in names %}
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name="names">
                <label class="form-check-label" for="flexCheckDefault">{{ group_member["member_name"] }}</label>
            {% endfor %}    
          </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="amount" placeholder="Add amount" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Add</button>
    </form>
{% endblock %}
